body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    }

    .container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px; 
    }

    h1 {
    text-align: center;
    font-size: 1.5rem;
    color: #0c16a8;
    }

    form {
    display: flex;
    flex-direction: column;
    }

    label {
    font-size: medium;
    font-weight: bold;
    }

    input, select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box; 
    }
    
    .lista-dados {
    margin-top: 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    background: #eee;
    padding: 10px;
    border-radius: 4px;
    }

   .cartao{
    border: 10px solid #f1f1f1;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-size:cover;
    background-position: center;
    transition: all 0.2s ease-in;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
 
    .cartao:hover{
    transform: translateY(-5px);
    }
 
    .cor-cartao{
    background-color: rgba(0, 0, 0, 0.411);
    height: 350px;
    color: white;
    border-radius: 8px;
    display: flex;
    align-items: end;
    }
 